fastapi
uvicorn[standard]
python-dotenv
langchain
langchain-community
langchain-ollama
langchain-core
chromadb
pypdf
pytest
httpx
pydantic-settings
sentence-transformers
langchain-huggingface
langgraph
duckduckgo-search
langchain_experimental
